
/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    }

  /* Estilos para el cuerpo de la página */
    .body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

  /* Estilos para el encabezado */
    .ContainerHeader {
    display: flex;
    flex-direction: row;
    padding: 15px;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
}

.columns {
    
}


    header {
    display: flex;
    background-color: #e2e3e5;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

  /* Agrega aquí otros estilos específicos */

  /* Estilos para el selector de colores */
    .dropcolor {
    display: none;
    cursor: pointer;
    border-radius: 80px;
    height: 80px;
    width: 80px;
    position: absolute;
}

  /* Estilos para el botón "Trocar de cor" */
    .dropbtn {
    font-weight: 200;
    border-radius: 50px;
    background-color: #ffffff;
    cursor: pointer;
    width: 100px;
    height: 35px;
    margin-left: -50px;
}

    .dropbtn:hover {
    border-color: #fbff00;
}

  /* Estilos para los botones de color */
    .color-option {
    height: 35px;
    width: 100px;
    cursor: pointer;
}

.columns {
  align-items: baseline;
  display: flex;
  width: 200px;

}

.column {
  margin: 10px;
}