@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";


body {
    width: 100%;
    height: 100vh;
}

:root {
    background: #BDE3F2;
    /*color: #254559;*/
}

* {
    padding: 0;
    border: 0;
    box-sizing: 0;
    font-family: 'Lato', sans-serif;
}

.header-wrapper {
    display: flex;
    padding: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

header {
    background-color: #E2E3E5;
    display: block;
    height: 10vh;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
}

.containersearch {
    display: flex;
    flex-direction: row;
    background-color: #f77700;
    border: solid 1px;
    border-radius: 15px;
    width: 300px;
}

#txtBusca {
    float: left;
    background-color: white;
    padding-left: 5px;
    font-style: italic;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 260px;
}

#addColumnBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    height: auto;
    cursor: pointer;
    min-height: 32px;
    padding: 8px;
}

#mainContent {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 20px;
}

.listTasks {
    width: 15rem;
    height: fit-content;
    background-color: #D7D7D7;
    border-radius: 1rem;
    margin: 0 1rem;
    padding: 10px;
}

.addTaskContent {
    margin: 0 0, 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.addTaskContent button {
    cursor: pointer;
}

input {
    padding: 10px;
    width: 80%;
    margin: 0 2px;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

#addTaskBtn {
    padding: 10px;
    margin: 0 auto;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

.taskContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 12rem;
    background-color: white;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    padding: 5px;
    transition: transform 0.3s ease-in-out;
}

.removeBtn {
    width: 1rem;
    cursor: pointer;
}

.removeColumnBtn {
    padding: 10px;
    margin-top: 5px;
    width: 90%;
    border-radius: 0.5rem;
    cursor: pointer;
}

/* Estilos para el selector de colores */
.dropcolor {
    display: none;
    cursor: pointer;
    border-radius: 80px;
    height: 80px;
    width: 80px;
    position: absolute;
}

/* Estilos para el botón "Trocar de cor" */
.dropbtn {
    color: #000000;
    display: inline-block;
    position: relative;
    transition: transform 0.20s;
    cursor: pointer;

}




.dropbtn:hover {
    transform: scale(1.03);
    /* Zoom de 1.2x ao passar o mouse */

}

/* Estilos para los botones de color */
.color-option {
    border-radius: 5px;
    border: 2px solid #000000;
    height: 35px;
    width: 100px;
    cursor: pointer;
}