


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}

.body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.column {
  display: flex;
  flex-direction: column;
  background-color:#E2E3E5; 
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.tasks{
  background-color: white;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
  margin: 2rem 0rem 0rem 2rem;
  color: black;
  height: fit-content;
}

.ContainerHeader {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 15px;
    flex-wrap: nowrap;
    align-items: baseline;
}

.ContainerLogo img {
    width: 50px;
    height: 50px;
}

    header {
    display: flex;
    background-color: #e2e3e5;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

  /* Agrega aquí otros estilos específicos */

    .dropcolor {
    cursor: pointer;
    top: 30px;
    width: 30px;
    right: 50px;
    position: absolute;
}

  /* Estilos para el botón "Trocar de cor" */
    .dropbtn {
    font-weight: 200;
    border-radius: 50px;
    background-color: #ffffff;
    cursor: pointer;
    width: 100px;
    height: 35px;
    margin-left: -50px;
}

    .dropbtn:hover {
    border-color: 2px solid #fbff00;
}

  /* Estilos para los botones de color */
    .color-option {
    height: 35px;
    width: 100px;
    cursor: pointer;
}

/* #todo, #inProgress, #finished {
  background-color: white;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
  margin: 2rem 0rem 0rem 2rem;
  color: black;
  height: fit-content;
} */

#addColumnBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  height: auto;
  cursor: pointer;
  min-height: 32px;
  padding: 8px;
}

#mainContent {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
}

#todo-form , #inProgress-form, #finished-form {
  display: flex;
  flex-flow: column;
}

 textarea, input {
  width: 170px;
  border: solid black 2px;
  border-radius: 10px;
  resize: none;
  max-height: 20rem;
  overflow: hidden;
  padding: 4px;
}

.addColumnName {
  margin: 0 0, 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addColumnName button {
  cursor: pointer;
}

button {
  display: flex;
  border: 1px solid;
  margin: 15px;
  align-self: center;
  justify-content: center;
  border-radius: 10px;
  padding: 5px;
}

button#addColumnBtn.createColumnBtn {
  width: 106px;
  height: 54px;
}

button#addTaskBtn{
  border: 1px solid;
}

#addTaskBtn {
  padding: 10px;
  margin: 0 auto;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.columnContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 12rem;
  background-color: white;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  padding: 5px;
  transition: transform 0.3s ease-in-out;
}

.createColumn{
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  margin: 2rem;
}

button.removeBtn {
  display: flex;
  right: 12px;
  cursor: pointer;
}

.removeColumnBtn {
  padding: 10px;
  margin-top: 5px;
  width: 90%;
  border-radius: 0.5rem;
  cursor: pointer;
}

