

/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    }

  /* Estilos para el cuerpo de la página */
    .body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

  /* Estilos para el encabezado */
    .ContainerHeader {
    display: flex;
    flex-direction: row;
    padding: 15px;
    flex-wrap: nowrap;
    align-items: baseline;
}

.ContainerLogo img {
    width: 50px;
    height: 50px;
}

    header {
    display: flex;
    background-color: #e2e3e5;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

  /* Agrega aquí otros estilos específicos */

    .dropcolor {
    cursor: pointer;
    top: 20px;
    right: 50px;
    position: absolute;
}

  /* Estilos para el botón "Trocar de cor" */
    .dropbtn {
    font-weight: 200;
    border-radius: 50px;
    background-color: #ffffff;
    cursor: pointer;
    width: 100px;
    height: 35px;
    margin-left: -50px;
}

    .dropbtn:hover {
    border-color: #fbff00;
}

  /* Estilos para los botones de color */
    .color-option {
    height: 35px;
    width: 100px;
    cursor: pointer;
}

.columns {
  display: flex;
  width: 200px;

}

.column {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
  margin: 2rem;
  color: rgb(0, 0, 0);
}

#addColumnBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  height: auto;
  cursor: pointer;
  min-height: 32px;
  padding: 8px;
}

#mainContent {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.listTasks {
  width: 15rem;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 1rem;
  margin: 0 1rem;
  padding: 10px;
}

.addTaskContent {
  margin: 0 0, 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addTaskContent button {
  cursor: pointer;
}

button {
  border: 1px solid;
  border-radius: 10px;
  padding: 5px;
}

button#addColumnBtn.createColumnBtn {
  width: 106px;
  height: 54px;
}

button#addTaskBtn{
  border: 1px solid;
}

#addTaskBtn {
  padding: 10px;
  margin: 0 auto;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.taskContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 12rem;
  background-color: white;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  padding: 5px;
  transition: transform 0.3s ease-in-out;
}

.createColumn{
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  margin: 2rem;
}

button.removeBtn {
  position: relative;
  left: 20px;
  width: 20px;
  height: 30px;
  cursor: pointer;
}

.removeColumnBtn {
  padding: 10px;
  margin-top: 5px;
  width: 90%;
  border-radius: 0.5rem;
  cursor: pointer;
}
